<h1> Welcome to your dashboard </h1>

<form action ='/' method = 'get'>
  <input type='hidden' name='_method' value='delete'>
  <input type='submit' value ='Sign Out'>
</form>

<form action = '/spaces/new' method = 'get'>
  <button name = 'add_a_space' type = 'submit'>Add your space here!</button>
</form>


<ol id='listings'>
  <% @listings.each do |listing|%>
    <li>
      <form action = '/booking/new' method = 'get'>
      <button id = 'bookme' >Book Me</button>
    </form>
    Name: <%= listing.property_name%></a>
    Description: <%= listing.description%>
    Price per night: <%=listing.price_per_night%>
    Available From: <%=listing.available_from%>
    Available Until: <%=listing.available_until%>
    <%end%>
  </li>
</ol>
